$black:rgb(5, 5, 5);
$white:rgb(255, 255, 255);

@mixin setBackground {
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
}

.addBackgroundImage1 {
    @include setBackground;
    background-image: url("/img/1.PNG");
}
  
.addBackgroundImage2 {
    @include setBackground;
    background-image: url("/img/6.PNG");
}  

.addImage3 {
    @include setBackground;
    background-image: url("/img/7.PNG");
}

.addImage4 {
    @include setBackground;
    background-image: url("/img/15.PNG");
}

.addImage5 {
    @include setBackground;
    background-image: url("/img/16.PNG");
    height: 59vh;
}

.Title
{
    font-family: 'Bodoni Moda', serif;
    font-weight: 550;
    font-size: 3.2rem;
    line-height: 120%;
}

.TitleWhite{
    color: $white;
}

.icon{
    width: 5rem;
    height: 5rem;
}

.blackBackground{
    background-color: black;
}

.mainButton
{
    color:$white;   
    background-color:$black;
    width: 10rem;
    height: 3rem;
    border-style: hidden;
    border-radius: 5px;
}

div{
  ul {
      li {
        font-weight: bold;  
        padding-left: 2rem;
        a {
            color:$black;
        }

        a:hover {
            color:$white;
            background-color:$black;
        }
      }
  }   
}

